@page
@model pWPortalLogista.Pages.Login.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Login";
    ViewData["Window.Title"] = "Login - Real Empreendimentos";
    ViewData["Form.Info"] = "Dados de Acesso";
    ViewData["Button.Submit"] = "Acesse";
    ViewData["Button.Register"] = "Primeiro acesso";
    string label_Login = "Login";
    string label_Pwd = "Senha";
}

<!-- /.login-logo -->
<div class="card login-box">
    <div class="card-body login-card-body">
    
        <p class="login-box-msg">@ViewData["Form.Info"]</p>

        @if (!ModelState.IsValid)
        {
            <div class="col-md-10">
                <small><div asp-validation-summary="All" class="text-danger"></div></small>
            </div>
        }

        <form method="post" autocomplete="off">
            <div class="input-group mb-3">
                <input asp-for="Login" type="text"  class="form-control" placeholder=@label_Login required autofocus>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fa fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Password" type="password"  class="form-control" placeholder=@label_Pwd required autofocus>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @* <a asp-page="./Register" class="btn btn-warning btn-block">@ViewData["Button.Register"]</a> *@
                    @* <small><a asp-page="./Register">Primeiro acesso</a></small><br /> *@
                    <small><a asp-page="./ResetPwd">Recuperar senha</a></small>
                </div>
                <div class="col-2">
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">@ViewData["Button.Submit"]</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>

    <!-- /.login-card-body -->
</div>
