@page
@model pWPortalLogista.Pages.IndexModel
@using System.Globalization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = "_Index";
}
@* <center><h1 class="mt-2">Página em construção</h1></center> *@
<div class="w-100 d-flex justify-content-center">
  <img src="~/img/real-logo-icon.png" width="60%" alt="">
</div>