@page
@model pWPortalLogista.Pages.Home.IndexModel
@using System.Globalization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<center><h3 class="mt-4">Você não tem menu liberado.</h3></center>